body
{
	background-image:url("img/7.jpg");
	margin: 0;
	background-size:2000px 2000px;
}
a
{
	color:white;
}
h1
{
	text-align:center;
	font-size:20px;
	font-weight:bold;
}
img
{
	border-radius:50px;
}
div.hakkimda
{
	border-radius:50px;
}
div.sehrim
{
	color:white;
	font-family:Trebuchet MS;
}
p
{
	margin-top:15px;
	margin-left:10px;
	margin-right:10px;
	margin-bot:15px;
	color:white;
	font-family:Trebuchet MS;
	font-size:20px;
}
hr
{
	background-color:#f6c7ff;
}
input[type=textbox]
{
	width:450px;
}
a:link {
  color: white;
}

a:visited {
  color: white;
}
a:hover {
  color: white;
}
a:active {
  color: white;
}
.showSlide {
                display: none
            }
                .showSlide img {
                    width: 100%;
                }
            .slidercontainer {
                max-width: 400px;
                position: relative;
                margin: auto;
            }
            .left, .right {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                padding: 16px;
                margin-top: -22px;
                color: white;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
            }
            .right {
                right: 0;
                border-radius: 3px 0 0 3px;
            }
                .left:hover, .right:hover {
                    background-color: rgba(115, 115, 115, 0.8);
                }
            .content {
                color: #eff5d4;
                font-size: 30px;
                padding: 8px 12px;
                position: absolute;
                top: 10px;
                width: 100%;
                text-align: center;
            }
            .active {
                background-color: #717171;
            }
            @-webkit-keyframes fade {
                from {
                    opacity: .4
                }
                to {
                    opacity: 1
                }
            }

            @keyframes fade {
                from {
                    opacity: .4
                }
                to {
                    opacity: 1
                }
            }
            .iletisim{width:900px;height:500px;margin:0 auto}
            .tablo tr{margin-top:25px}
            .uyarilar{width:215px;height:470px;float:left;padding-top:30px;color:white;font-size:13px}
            .uyari1{width:215px;height:32px;padding-top:2px}
            .uyari2{width:215px;height:67px;}
            .uyari3{width:215px;height:70px;margin-top:5px}
